* {
    box-sizing: border-box;

}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url(../assets/font/arial-regular.ttf);
    font-size: 1.25em;
}


body {

    background-color: bisque;
    font-size: 1.2em;

}

.container {

    display: flex;
    flex-direction: column;
    max-width: 53rem;
    padding: 0 1.25em;
    margin: 10em auto;
    width: 100%;
}

.slides {
    /* max-width: 50em; */
    display: flex;
    overflow: hidden;
}

.button {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.15em solid black;
    cursor: pointer;
    margin-left: 0.5rem;
}

.nav {
    display: flex;
    cursor: pointer;
    width: 7rem;
    padding: 0.25rem;

    margin: 0 0;

}

input {
    visibility: hidden;
    position: absolute;
}

.slide {
    width: 100%;
    height: auto;
    transition: all 2s ease;
}

#r1:checked~.slides .s1 {
    margin-left: 0;

}

#r2:checked~.slides .s1 {
    margin-left: -100%;


}

#r3:checked~.slides .s1 {
    margin-left: -200%;

}


#r4:checked~.slides .s1 {
    margin-left: -300%;
}



#r1:checked~.control .text-box .s1 {
    margin-left: 0;

}

#r2:checked~.control .text-box .s1 {
    margin-left: -100%;
}

#r3:checked~.control .text-box .s1 {
    margin-left: -200%;
}

#r4:checked~.control .text-box .s1 {
    margin-left: -300%;
}


.text-box {
    overflow: hidden;
    width: 100%;

    display: flex;
}

.text {
    flex-basis: 100%;
    flex-shrink: 0;
    transition: all 2s ease;
}

.control {
    display: flex;
    justify-content: space-between;
}

#r1:checked~.control .nav label:nth-of-type(1) .button,
#r2:checked~.control .nav label:nth-of-type(2) .button,
#r3:checked~.control .nav label:nth-of-type(3) .button,
#r4:checked~.control .nav label:nth-of-type(4) .button {
    background: rgb(65, 34, 245);
}

.button:hover {
    background-color: rgb(253, 16, 174);
    transition: 1s;
}


@media (max-width:768px) {
    .control {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .nav {
        justify-content: space-between;
        margin: 0 auto;
    }
}